<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bootstrap.min.js">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.1/css/dataTables.uikit.css">



</head>

<body>

    <div class="container">


        <h4>Tesitas</h4>

        <!-- <form action="" method="POST">
                <div>
                    <label for="nombre" class="form-label">Nombre</label>
                    <input id="nombre" name="nombre" type="text" class="form-control" required>
                </div>
                <div>
                    <label for="precio" class="form-label">Precio</label>
                    <input id="precio" name="precio" type="number" class="form-control" required>
                </div>
                <div>
                    <label for="stock" class="form-label">Stock</label>
                    <input id="stock" name="stock" type="number" class="form-control" required>
                </div>
                <div>
                    <label for="categoria" class="form-label">categoria</label>
                    <input id="categoria" name="categoria" type="text" class="form-control" required>
                </div>
                <button type="submit" class="w-100 btn btn-guardar btn-lg"> <i class="bi bi-save"></i> Registrar
                    Producto </button>
            </form> -->

        <table id="TableTesistas" class="uk-table uk-table-hover uk-table-striped" style="width:100%">

            <thead>
                <tr>
                    <th style="display: none;">ID</th>
                    <th>Primer_Nombre</th>
                    <th>Segundo_Nombre</th>
                    <th>Primer_Apellido</th>
                    <th>Segundo_Apellido</th>
                    <th>Numero_Carnet</th>
                    <th>Correo</th>
                    <th>Sexo</th>
                    <th>Sede</th>
                    <th>Programa</th>
                    <th>Estado</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <% Tesistas.forEach((tesista)=> { %>
                    <tr>
                        <td style="display: none;">
                            <%=tesista._id %>
                        </td>
                        <td>
                            <%=tesista.Primer_Nombre %>
                        </td>
                        <td>
                            <%=tesista.Segundo_Nombre %>
                        </td>
                        <td>
                            <%=tesista.Primer_Apellido %>
                        </td>
                        <td>
                            <%=tesista.Segundo_Apellido %>
                        </td>
                        <td>
                            <%=tesista.Numero_Carnet %>
                        </td>
                        <td>
                            <%=tesista.Correo %>
                        </td>
                        <td>
                            <%=tesista.Sexo %>
                        </td>
                        <td>
                            <%=tesista.Sede %>
                        </td>
                        <td>
                            <%=tesista.Programa %>
                        </td>
                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" 
                                <%= tesista.Estado ? 'checked' : '' %> >
                            </div>
                            
                        </td>
                        <td>
                            <a type="" class="">Editar</a>
                            <a href="" class="">Eliminar</a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>

    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.1/js/dataTables.bootstrap5.js"></script>
    <script src="/table.js"> </script>

</body>

</html>